# Integration Test Settings
#
# argument.unit
# argument.integ
# argument.log
# argument.tor
# argument.no_color
#   Default values for runner arguments.
#
# integ.test_directory
#   Path used for our data directory and any temporary test resources. Relative
#   paths are expanded in reference to the location of 'run_tests.py'.
#   
#   If set then the directory's contents are reused for future tests (so we
#   have a faster startup and lower load on authorities). If set to an empty
#   value then this makes a fresh data directory for each test run.
#
# integ.log
#   Path runtime logs are placed. Relative paths are expanded in reference to
#   'run_tests.py'. Logging is disabled if set ot an empty value.
#
# integ.target.online
#   Runs tests with network activity. If set then we'll wait for tor to fully
#   bootstrap when starting, which won't happen without a network connection.
#
# integ.target.relative_data_dir
#   Uses a relative path for the tor data directory if set.
#
# integ.target.run.*
#   Runs the integration test suite for all of the given connection and
#   authentication configurations. If the 'all' option is set then the other
#   flags are ignored.

argument.unit false
argument.integ false
argument.test
argument.log
argument.tor tor
argument.no_color false

integ.test_directory ./test/data
integ.log ./test/data/log

integ.target.online false
integ.target.relative_data_dir false
integ.target.chroot false
integ.target.run.none false
integ.target.run.open true
integ.target.run.password false
integ.target.run.cookie false
integ.target.run.muiltipe false
integ.target.run.socket false
integ.target.run.scookie false
integ.target.run.ptrace false
integ.target.run.all false

